In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Admission_Predict.csv')

In [3]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [4]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [5]:
df.columns=df.columns.str.rstrip()

In [9]:
df['Chance of Admit']
df.loc[df['Chance of Admit']>=0.80,'Chance of Admit']=1

In [11]:
df.loc[df['Chance of Admit']<0.80,'Chance of Admit']=0

In [12]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,1.0
1,2,324,107,4,4.0,4.5,8.87,1,0.0
2,3,316,104,3,3.0,3.5,8.00,1,0.0
3,4,322,110,3,3.5,2.5,8.67,1,1.0
4,5,314,103,2,2.0,3.0,8.21,0,0.0

In [13]:
df=df.drop('Serial No.',axis=1)

In [14]:
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,1.0
1,324,107,4,4.0,4.5,8.87,1,0.0
2,316,104,3,3.0,3.5,8.00,1,0.0
3,322,110,3,3.5,2.5,8.67,1,1.0
4,314,103,2,2.0,3.0,8.21,0,0.0
...,...,...,...,...,...,...,...,...
395,324,110,3,3.5,3.5,9.04,1,1.0
396,325,107,3,3.0,3.5,9.11,1,1.0
397,330,116,4,5.0,4.5,9.45,1,1.0
398,312,103,3,3.5,4.0,8.78,0,0.0
399,333,117,4,5.0,4.0,9.66,1,1.0

In [15]:
x=df.iloc[:,0:7]
y=df.iloc[:,7]

In [16]:
y

0      1.0
1      0.0
2      0.0
3      1.0
4      0.0
      ...
395    1.0
396    1.0
397    1.0
398    0.0
399    1.0
Name: Chance of Admit, Length: 400, dtype: float64

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [22]:
model=DecisionTreeClassifier(criterion="entropy",max_depth=4)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [23]:
y_pred

array([0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 1., 0., 0.,
       1., 0., 0., 1., 1., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       1., 0., 0., 1., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0.,
       1., 0., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 1., 1., 0., 1.,
       1., 0., 0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0.,
       1., 0., 0., 1., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0.])

In [25]:
from sklearn.metrics import confusion_matrix

In [27]:
matrix=confusion_matrix(y_test,y_pred,labels=[0.0,1.0])

In [28]:
x_train.shape 
x_test.shape

(100, 7)

In [29]:
matrix

array([[66,  5],
       [ 2, 27]])

In [30]:
from sklearn.metrics import accuracy_score

In [31]:
acc=accuracy_score(y_test,y_pred)

In [32]:
print(acc)

0.93

In [33]:
from sklearn.metrics import classification_report
cr=classification_report(y_test,y_pred)

In [34]:
print(cr)

              precision    recall  f1-score   support

         0.0       0.97      0.93      0.95        71
         1.0       0.84      0.93      0.89        29

    accuracy                           0.93       100
   macro avg       0.91      0.93      0.92       100
weighted avg       0.93      0.93      0.93       100